
h1{
    color: lightcoral;
    text-align: center;
    font-size: 70px;
}

p{
    color: darkblue;
    text-align: center;
    font-size: 35px;
}

a{
    text-align: center;
    font-size: 20px;
}

li{

    font-size: 45px;
    text-align: center;
}

h2{
    color: darkgreen;
    text-align: center;
    font-size: 40px;
}

h3{
    color: darkkhaki;
    text-align: center;
    font-size: 50px;
}

img{
    text-align: center;
    font-size:80px ;
  display: block;
  margin: 0 auto;
}


li1{
    font-size: 30px;
    text-align: center;
    color: darkred;
}